.imgweightloss{
    background-image: url('../assets/North-Indian.jpg');
    background-size:100% 100%;
    background-position: center;
}

.imgweightgain{
    background-image: url('../assets/South-Indian.jpg');
    background-size: 100% 100%;
    background-position: center;
}

/* @media screen and (max-width: 321px) {
    .imgweightloss{
        background-image: url('../assets/North-Indian.jpg');
        background-size:10% 10%;
        background-position: center;
    }
  } */


  @media screen and (max-width: 426px) {
    .imgweightloss{
        background-size:95% 100%;
    }

    .imgweightgain{
        background-size: 95% 100%;
    }
    .weightloss{
        /* margin-top: 40%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 30px;
        background: rgba(227, 221, 210, 0.73);
        padding: 50px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center; */
        color: rgb(221, 5, 5);
        display:none;
        /* font-size: 10px; */
        
    }
  
    



  }
    


.weightloss{
    margin-top: 40%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    background: rgba(227, 221, 210, 0.73);
    padding: 50px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    
}

.weightgain{
    margin-top: 40%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    background: rgba(227, 221, 210, 0.73);
    padding: 50px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    
}